<div class="flex">
    <span style="margin-top: 10px;">
        <mat-icon color="primary">{{power? "signal_cellular_alt":"dns"}}</mat-icon>
    </span>

    <span class="fill-remaining-space">
        <b class="font">名称：</b> {{data.Name}}
        <p>
            <b class="font">地址：</b>{{data.Address}}
            <b class="font">协议：</b>{{data.Protocol}}
            <b class="font">端口：</b>{{data.Port}}
        </p>
    </span>

    <span>
        <button [disabled]="disable" color="primary" mat-icon-button (click)="switch()"
            matTooltip="{{power?'停止':'启动'}}">
            <mat-icon>{{power ?"stop" : "play_arrow" }} </mat-icon>
        </button>

        <span [hidden]="power">
            <button color="primary" [disabled]="disable" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="菜单">
                <mat-icon>list</mat-icon>
            </button>
        </span>
        <mat-menu #menu="matMenu">
            <button [disabled]="disable" mat-menu-item (click)="openProtocolWindow(data)">
                <mat-icon>settings</mat-icon>
                <span>修改</span>
            </button>
            <button [disabled]="disable" mat-menu-item (click)="remove(data)">
                <mat-icon>delete</mat-icon>
                <span>删除</span>
            </button>
        </mat-menu>
    </span>
</div>