<div class="flex">
    <span style="margin-top: 10px;">
        <mat-icon>dns</mat-icon>
    </span>

    <span class="fill-remaining-space">
        {{data.ID}}
        <p>{{data.Address}}</p>
    </span>

    <span>
        <button mat-icon-button matTooltip="启动">
            <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="菜单">
            <mat-icon>list</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openVmessWindow(data)">
                <mat-icon>settings</mat-icon>
                <span>修改</span>
            </button>
            <button mat-menu-item (click)="remove(data.ID)">
                <mat-icon>delete</mat-icon>
                <span>删除</span>
            </button>
        </mat-menu>
    </span>
</div>