<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="icon" fontSet="fontawesome-fab" fontIcon="fa-earlybirds"></mat-icon>
            服务管理
        </ng-template>
        <!-- 卡片布局 -->
        <mat-card>
            <!-- 标题 -->
            <mat-card-title>
                服务列表
            </mat-card-title>
            <!-- 子标题 -->
            <mat-card-subtitle style="margin-top: 30px;">
                <button mat-raised-button [matMenuTriggerFor]="menu" color="primary">
                    <mat-icon>library_add</mat-icon>
                    <span>增加服务</span>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openVmessWindow()">
                        <mat-icon>public </mat-icon>
                        <span>Vmess协议</span>
                    </button>
                    <button mat-menu-item (click)="openVLESSWindow()">
                        <mat-icon>public </mat-icon>
                        <span>VLESS协议</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>public </mat-icon>
                        <span>预留协议</span>
                    </button>
                </mat-menu>
                <!-- &nbsp;
                <button mat-raised-button color="primary">
                    <mat-icon>clear_all</mat-icon>
                    <span>清空列表</span>
                </button> -->
            </mat-card-subtitle>

            <mat-card-content>
                <div>
                    <mat-checkbox color="primary" [(ngModel)]="checked" (change)="startLogs($event.checked)">开启日志
                    </mat-checkbox>
                    <textarea class="log" rows="6" matInput [(ngModel)]="logs" [readonly]="true"></textarea>
                </div>

                <ng-container *ngIf="protocols.length != 0;then ready;else load "></ng-container>
                <ng-template #ready>
                    <div *ngFor="let protocol of protocols">
                        <app-protocol (clickEvt)="remove($event)" [value]="protocol"></app-protocol>
                    </div>
                </ng-template>

                <ng-template #load>
                </ng-template>
            </mat-card-content>
        </mat-card>
    </mat-tab>

    <!-- <mat-tab> -->
    <!-- 头部 -->
    <!-- <ng-template mat-tab-label>
            <mat-icon class="icon" fontSet="fontawesome-fab" fontIcon="fa-optin-monster"></mat-icon>
            用户管理
        </ng-template> -->

    <!-- 配置 -->
    <!-- <mat-card>
            <mat-card-header>
                <mat-card-title>个人信息</mat-card-title>
            </mat-card-header>

            <mat-card-content>
            </mat-card-content>
        </mat-card> -->
    <!-- </mat-tab> -->
</mat-tab-group>