<h2 mat-dialog-title>修改密码</h2>

<!-- Json  data commit -->
<mat-dialog-content>
    <form>
        <!-- password -->
        <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>密码</mat-label>
            <input matInput name="password" [type]="hide ? 'password' : 'text'" [formControl]="password" minlength="6"
                required>
            <button [disabled]="disabled" mat-flat-button matSuffix (click)="hide = !hide">
                <mat-icon color="primary">{{hide? 'visibility_off': 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button [disabled]="disabled" mat-raised-button color="primary" (click)="passwd()">提交</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button [disabled]="disabled" mat-raised-button mat-dialog-close color="primary">关闭</button>
</mat-dialog-actions>