<mat-toolbar color="primary">
    <!-- home -->
    <span>
        <button mat-button>
            <mat-icon>home</mat-icon>
        </button>
    </span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <!-- foot -->
    <span>
        <a mat-button href="https://www.youtube.com" target="_blank">
            <mat-icon class="icon" fontSet="fontawesome-fab" fontIcon="fa-youtube"></mat-icon>
        </a>
    </span>

    <span>
        <a mat-button href="https://www.github.com/gopherty" target="_blank">
            <mat-icon class="icon" fontSet="fontawesome-fab" fontIcon="fa-github"></mat-icon>
        </a>
    </span>

    <span>
        <button mat-button>
            <mat-icon>login</mat-icon>
        </button>
    </span>
</mat-toolbar>