<h2 mat-dialog-title>Shadowsocks 配置</h2>

<!-- Json  data commit -->
<mat-dialog-content>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>别名</mat-label>
        <input matInput type="text" [(ngModel)]="params.Name">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>地址</mat-label>
        <input matInput type="text" [(ngModel)]="params.Address">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>端口</mat-label>
        <input matInput type="number" [(ngModel)]="params.Port">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>密码</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="params.Passwd">
        <button [disabled]="disable" mat-flat-button matSuffix (click)="hide = !hide">
            <mat-icon color="primary">{{hide? 'visibility_off': 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>加密方式</mat-label>
        <mat-select [(value)]="params.Security" (selectionChange)="security($event)">
            <mat-option value="none">none</mat-option>
            <mat-option value="aes-256-gcm">aes-256-gcm</mat-option>
            <mat-option value="aes-128-gcm">aes-128-gcm</mat-option>
            <mat-option value="chacha20-poly1305">chacha20-poly1305</mat-option>
            <mat-option value="chacha20-ietf-poly1305">chacha20-ietf-poly1305</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-slide-toggle (change)="direct($event)" [checked]="params.Direct" color="primary">国内直连</mat-slide-toggle>
</mat-dialog-content>

<mat-dialog-actions>
    <button [disabled]="disable" mat-raised-button color="primary" (click)=" on? update(): save()">保存</button>
    <button mat-raised-button color="primary" matDialogClose>关闭</button>
</mat-dialog-actions>